In [1]:
import pandas as pd
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader
from torch.utils.data import random_split
from torchvision.datasets import MNIST
from torchvision import transforms
import pytorch_lightning as pl
import math
import numpy as np

In [2]:
import os
x = os.walk(".")
# [print(y) for y in x]

In [3]:
!ls

main.ipynb	       tabular-playground-series-mar-2021.zip  toolbox
sample_submission.csv  test.csv				       train.csv

In [4]:
# Add data to memory for discovery
train,test = pd.read_csv('./train.csv'),pd.read_csv('./test.csv')

In [5]:
# Get data structure
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 32 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      300000 non-null  int64
 1   cat0    300000 non-null  object
 2   cat1    300000 non-null  object
 3   cat2    300000 non-null  object
 4   cat3    300000 non-null  object
 5   cat4    300000 non-null  object
 6   cat5    300000 non-null  object
 7   cat6    300000 non-null  object
 8   cat7    300000 non-null  object
 9   cat8    300000 non-null  object
 10  cat9    300000 non-null  object
 11  cat10   300000 non-null  object
 12  cat11   300000 non-null  object
 13  cat12   300000 non-null  object
 14  cat13   300000 non-null  object
 15  cat14   300000 non-null  object
 16  cat15   300000 non-null  object
 17  cat16   300000 non-null  object
 18  cat17   300000 non-null  object
 19  cat18   300000 non-null  object
 20  cont0   300000 non-null  float64
 21  cont1   300000 non-null  float64
 22  cont2   300000 non-null  float64
 23  cont3   300000 non-null  float64
 24  cont4   300000 non-null  float64
 25  cont5   300000 non-null  float64
 26  cont6   300000 non-null  float64
 27  cont7   300000 non-null  float64
 28  cont8   300000 non-null  float64
 29  cont9   300000 non-null  float64
 30  cont10  300000 non-null  float64
 31  target  300000 non-null  int64
dtypes: float64(11), int64(2), object(19)
memory usage: 73.2+ MB

In [6]:
# Peek at data examples
train.head()

,id,cat0,cat1,cat2,cat3,cat4,cat5,cat6,cat7,cat8,...,cont2,cont3,cont4,cont5,cont6,cont7,cont8,cont9,cont10,target
0,0,A,I,A,B,B,BI,A,S,Q,...,0.759439,0.795549,0.681917,0.621672,0.592184,0.791921,0.815254,0.965006,0.665915,0
1,1,A,I,A,A,E,BI,K,W,AD,...,0.386385,0.541366,0.388982,0.357778,0.600044,0.408701,0.399353,0.927406,0.493729,0
2,2,A,K,A,A,E,BI,A,E,BM,...,0.343255,0.616352,0.793687,0.552877,0.352113,0.388835,0.412303,0.292696,0.549452,0
3,3,A,K,A,C,E,BI,A,Y,AD,...,0.831147,0.807807,0.800032,0.619147,0.221789,0.897617,0.633669,0.760318,0.934242,0
4,4,A,I,G,B,E,BI,C,G,Q,...,0.338818,0.277308,0.610578,0.128291,0.578764,0.279167,0.351103,0.357084,0.328960,1

In [7]:
# Get number of unique categories
#Build sample item
cal_cols = train.select_dtypes('object')
cal_cols_keys = cal_cols.keys()
cal_cols_vals = np.array((cal_cols.values))

cat_stats = np.array([train[c].nunique() for c in cal_cols])
median_cat = math.ceil(np.median(cat_stats))
target_cat_index = int(np.where(cat_stats == median_cat)[0])
target_cat_name = cal_cols_keys[target_cat_index]
# print(target_cat)

# for c in train.select_dtypes('object'): print(target_cat,train[target_cat].nunique())
print("Categroy with median total unique values:\n",target_cat_name,": ",train[target_cat_name].nunique(),"unique values")

Categroy with median total unique values:
 cat3 :  13 unique values

In [8]:
# Index categories
categoricals_to_ix = {}

for c in train.select_dtypes('object'):
    categoricals_to_ix[c] = {cat:i for i,cat in enumerate(train[c].unique())}

sample_cat = categoricals_to_ix[target_cat_name]
print(target_cat_name,"indices:\n",sample_cat)
# print("\n")

cat3 indices:
 {'B': 0, 'A': 1, 'C': 2, 'D': 3, 'G': 4, 'N': 5, 'H': 6, 'F': 7, 'E': 8, 'K': 9, 'I': 10, 'J': 11, 'L': 12}

In [9]:
# Test embeddings
embeds = {}

for cix_key in categoricals_to_ix.keys():
    cix = categoricals_to_ix[cix_key]
    bag_size = len(cix)
    embed_size = math.isqrt(bag_size)
    embeds[cix_key] = nn.Embedding(bag_size,embed_size)

target_cat_keys,target_cat_vals = list(sample_cat.keys()),np.array(list(sample_cat.values()))
target_cat_vals_median = math.ceil(np.median(target_cat_vals))
target_cat_keys_sample = target_cat_keys[target_cat_vals_median]
print("Sanple",target_cat_name,"category:\n",target_cat_keys_sample)
    
testor = torch.tensor([categoricals_to_ix[target_cat_name][target_cat_keys_sample]], dtype=torch.long)
cat_keys_sample_hash = embeds[target_cat_name](testor)
print("Sanple category embedding:\n",cat_keys_sample_hash)

Sanple cat3 category:
 H
Sanple category embedding:
 tensor([[-1.5301, -0.9384,  0.5169]], grad_fn=<EmbeddingBackward>)